비트30기 조진수/9.WCF/1104exampleclient랜덤문제(config)/exampleclient/Connected Services/ServiceReference1/helloworldservice12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/_1104example" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_1104example" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.72/wcf/example/helloworldservice1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cal" nillable="true" type="tns:Cal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCal" nillable="true" type="tns:ArrayOfCal" />
  <xs:complexType name="Cal">
    <xs:sequence>
      <xs:element minOccurs="0" name="num1" type="xs:int" />
      <xs:element minOccurs="0" name="num2" type="xs:int" />
      <xs:element minOccurs="0" name="oper" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cal" nillable="true" type="tns:Cal" />
</xs:schema>